*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.box{
	position: relative;
	width: 600px;
	height: 320px;
	margin: 30px auto;
	border: 1px solid red;
	/* overflow: hidden; */
}
.swiper-content {
	position: absolute;
	left: 0;
	height: 100%;
}
.swiper-content li {
	float: left;
	height: 100%;
}
.swiper-content li img{
	width: 100%;
	height: 100%;
}
.arrow{
	position: absolute;
	top: 120px;
	/* 定位: 左权高于右权 */
	right: 0;
	width: 40px;
	height: 80px;
	background-color: rgba(0,0,0,.5);
}
.arrow-l{
	left: 0;
}
.dots{
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.dots li{
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 10px;
	border-radius: 50%;
	background-color: orange;
}
.dots .act{
	background-color: red;
}